.LettersWrap {
  background-color: #fff;
  padding: 20px 0;
}

.LetterItem {
  border-top: 1px solid #d7dccd;
  white-space: nowrap;
  display: block;
  position: relative;

  a {
    padding: 8px 5px;
    display: block;
    transition: .2s;

    &:hover {
      background-color: #ececec;
    }
  }

  &:last-child {
    border-bottom: 1px solid #d7dccd;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .Collocutor {
    font-weight: 600;
    color: #252525; 
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
  }

  .Subject {
    padding-right: 10px;  
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Excerpt {
    color: #8c8c8c;
    max-width: calc(100% - 445px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Date {
    position: absolute;
    right: 10px;
    padding-right: 5px;
    overflow: hidden;
    max-width: 125px;
    font-size: 12px;
    line-height: 19px;
    font-style: italic;
    color: #005cb4;
  }
}

@media screen and (max-width: 600px) {
  .LetterItem {
    white-space: normal;
    font-size: 13px;

    a {
      padding: 8px 10px;
    }

    span {
      white-space: nowrap;
      display: block;
    }

    .Collocutor {
      padding: 0;
      padding-bottom: 3px;
    }

    .Excerpt {
      max-width: 100%;
    }

    .Date {
      display: none;
    }
  }
}

.pagination {
  text-align: center;
  margin-top: 20px;

  li {
    display: inline-block;
  }
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #337ab7;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}